* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color:#fff7f0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;

}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-top: 0px;
  margin-bottom: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.contactForm{
  display: flex;
}

.title{
 padding: 10px;
 color: white;
  background-color: rgb(48,80,98);
}

.titlePhonebook{
  color: white;
  background-color: rgb(48,80,98);
  text-align: center;
}

.inputFilter{
  background-image: url('https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}




.contactsList{
  padding: 0;
  margin-bottom: 20px;
}
.contactForm{
  display: flex;
}

input{
  border-radius: 5px;
  border:solid 0.5px;
  outline: none;
  font-size: 20px;
}


input:focus{
border: solid 1px #fee8d0;
box-shadow: -1px 8px 10px 5px rgba(255,210,81,0.28);
}